1Password
code-server
configstore
firebase
fish
flutter
github-copilot
glab-cli
helix
htop
iterm2
jgit
kitty
nu
raycast
simple-update-notifier
spicetify
xxh
zed
ditto
*.zip
spaceship.*
starship.*
nvim/lazy-lock.json
